In [23]:
import pandas as pd
import numpy as np
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

In [3]:
chipo=df

In [4]:
def strip_dollar(s):
    new_s = s.strip('$')
    return float(new_s)

In [5]:
df['item_price'].apply(strip_dollar)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [6]:
df['item_price'] = df['item_price'].apply(strip_dollar)

In [20]:
a = chipo['item_price']>=10
a

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [21]:
a.sum()

1130

In [22]:
chipo1 = chipo.groupby(by ="item_name")[["item_price"]].min().reset_index()
chipo1

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

In [24]:
qp = np.where(chipo.item_price == chipo.item_price.max(),chipo.quantity,0)
for i in qp:
    if i!=0:
        print("Quantity of the most expensive item ordered is : ",i)

Quantity of the most expensive item ordered is :  15

In [25]:
temp = np.count_nonzero(chipo.item_name == "Veggie Salad Bowl")
temp

18

In [27]:
temp1 = np.count_nonzero((chipo.item_name == "Canned Soda") & (chipo.quantity > 1))
temp1

20